* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
.swm {
  width: 1080px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.df {
  display: -webkit-flex;
  display: flex;
}
.dfj {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}
.db {
  display: block;
}
.dib {
  display: inline-block;
}
.dn {
  display: none;
}
.oh {
  overflow: hidden;
}
.tc {
  text-align: center;
}
.adesc {
  text-decoration: none;
}
.wimg {
  width: 100%;
  height: 100%;
}
.ta {
  text-align: center;
}
