@import "common.less";

// 首页

.content{
    font-size:12px;
    .swm;
    .contBotten{
        margin-top:150px;
    .df;
    justify-content: flex-start;

    .leftText{
        font-size:20px;
        color:#333;
        
    }
    .contBtn{
        width:100px;
        height:36px;
        line-height:36px;
        background:#0768ce;
        position:relative;
        z-index:3;
        a{
            color:#fff;
            .dib;
            width:100px;
            height:36px;
        }
    }
    .leftImg{
        width:460px;
        height:260px;
        img{
            .wimg;
        }
    }
    // 左边
    .contLeft{
        .contBtn{
            margin-top:26px;
            margin-bottom:40px;
        }
    }
    // 右边
    .contRight{
        margin-left:@ml80;
        .leftText{
            margin:32px 0;
        }
    }
}

}
// two screen
.twoCont{
    margin-top:70px;
    font-size:20px;
    font-weight:bolder;
     
    .twobot{
        ul{
            overflow:hidden;
            margin-top:40px;
            li{
                float:left;
            }
        }
       
    }
    .twoBtn{
        margin-top:@mt40;
        
        a{
            width:160px;
            height:35px;
            background:#0769ce;
            color:#fff;
            line-height:35px;
            font-weight:normal;
        }
    } 
}

// third screen
.thirdCont{
    
    .thirdBot{
        margin-top:140px;
        .dfj;
        .botLeft{

            .thirdTit{
                font-size:20px;
                color:#0768ce;
                font-weight:bolder;
                margin-top:70px;
            }
            p{
                line-height:35px;
            }
        }
        .botRight{
            width:300px;
            height:340px;
            overflow:hidden;
            margin-right:140px;
            img{
                width:100%;
                height:100%;
            }
        }
        
    }
}

// 工业定制+解决方案
.inTit{
    .titTop{
        font-size:26px;
        font-weight:bolder;
    }
    .titMiddle{
        font-size:20px;
        font-weight:bold;
        margin-top:60px;
    }
    .titBottom{
        font-size:12px;
        margin-top:20px;
    }
}
.indCont{
    ul{
        .df;
        justify-content:flex-start;
        margin-top:50px;
        li{
            width:270px;
            .dfj;
            margin-right:20px;

            .line{
                margin-top:5px;
            }
            
            a{
                .indust_topTit{
                    font-size:14px;
                    color:#333;
                    margin-bottom:20px;
                }
                .indust_bottomTit{
                    span{
                        img{
                            vertical-align:middle;
                            margin-right:10px;
                        }
                        font-size:14px;
                        color:#8a9199;
                    }
                }
            }
        }
    }
}

// 铁路装备

.railCont{
    .railImg{
        margin-top:60px;
    }
    .railProc{
        p{
            margin-top:80px;
        }
        img{
            margin-top:45px;
        }
    }
    .railCase{
        .df;
        justify-content: flex-start;
        margin-top:40px;
        li{
            .dfj;
            width:270px;
            height:60px;
            line-height:60px;
            a{
                margin-left:30px;
                span{
                    font-size:16px;
                    color:#8a9199;
                }
                
            }
            .line{
                
                height:60px;
            }

        }
    }
}

// skf
.usaTit{
    font-size:16px;
    span{
        color:#8b8f9a;
    }
}
.usaCont{
    margin-top:45px;
    ul{
        .dfj;
        margin-top:20px;
    }
}
// 工业互联网案例
.margerTxt{
    font-size:14px;
    color:#8a9199;
    // font-family:SimSun;
    font-weight:bold;
    line-height:26px;
}
.mangCont{
    .mangerTop{
        .dfj;
        .margerTxt;
        margin-top:45px;
        .topTxt{
            p{
            text-indent:2em;
            }
            
            width:660px;
        }
        .topMob{
            img{
                margin-top:20px;
                margin-left:50px;
            }
        }
    }
    .quer{
        .dfj;
        margin-top:68px;
        .querLeft{
            width:420px;
            .querImg{
                margin-left:-30px;
                margin-top:60px;
            }
            .querTxt{
                .margerTxt;
                margin-top:30px;
                text-indent:2em;
            }

        }
       
    }
    .check{
        width:655px;
        .checkTit{
            margin-top:60px;
        }
        .checkTxt{
            .margerTxt; 
            text-indent: 2em;
            margin-top:25px;
            
        }
    }
    .indBot{
        .dfj;
        margin-top:40px;
        li{
           p{
               margin-top:25px;
           } 
        }
    }
}

// 轴承智能选配系统
.pillow{
    margin-top:45px;
    .pilTxt{
        .margerTxt;  
    }
    .pilNum{
        .df;
        justify-content: center;
        margin-top:65px;
        li{
            margin:0 20px;
            p{
                margin-bottom:20px;
                font-size:14px;
                color:#8a9199;
                font-weight:bold;
            }
        }
        
    }
    .pilSelect{
        margin-top:60px;
        .selectTit{
            .margerTxt;  
        }
        .pilSelBox{
            .dfj;
            margin-top:30px;
            li{
                height:327px;
                line-height:327px;
                img{
                    vertical-align: middle;
                }
            }
        }
    }
    
}

// 成都地铁
.chengdu{
    .dfj;
    margin-top:45px;
    li{
        .margerTxt;
        p{
            text-indent: 2em;
        }
    }
}

// 动检车间综合
.djCont{
    p{
        margin-top:45px;
    }
    div{
        margin-top:35px;
    }
}

// 微控单车实验室
.control{
    .contTxt{
        .margerTxt;  
        margin-top:45px;
    }
    .contTit{
        margin-top:60px;
    }
}
// 货车列检作业
.hclj{
    .hcljTxt{
        p{
            .margerTxt;
        }
        
        margin-top:45px;
    }
    .hcljTit{
        margin-top:60px;
    }
}
// about
.aboutCont{
    .aboutTit{
        font-size:26px;
        font-weight:bolder;
    }
    .aboutTop{
        margin-top:45px;
        ul{
            .df;
            justify-content:flex-start;
            margin:10px auto;
            
            li{
               width:200px;
               margin-left:120px;
               font-size:16px;
               img{
                   vertical-align:middle;
                   margin-right:20px;
               }
            }
        }
    }
    .aboutMidd{
        margin-top:70px;
        li{
            font-size:16px;
            color:#8a9199;
            margin-top:20px;
            img{
                margin-right:15px;
                vertical-align:middle;
            }
        }
    }
    .aboutBot{
        .df;
        justify-content: flex-start;
        width:954px;
        margin:40px auto;
        li{
            width:278px;
            margin-left:40px;
        }
    }
   
   
}