* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
.swm {
  width: 1080px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.df {
  display: -webkit-flex;
  display: flex;
}
.dfj {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}
.db {
  display: block;
}
.dib {
  display: inline-block;
}
.dn {
  display: none;
}
.oh {
  overflow: hidden;
}
.tc {
  text-align: center;
}
.adesc {
  text-decoration: none;
}
.wimg {
  width: 100%;
  height: 100%;
}
.ta {
  text-align: center;
}
.content {
  font-size: 12px;
  width: 1080px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.content .contBotten {
  margin-top: 150px;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
}
.content .contBotten .leftText {
  font-size: 20px;
  color: #333;
}
.content .contBotten .contBtn {
  width: 100px;
  height: 36px;
  line-height: 36px;
  background: #0768ce;
  position: relative;
  z-index: 3;
}
.content .contBotten .contBtn a {
  color: #fff;
  display: inline-block;
  width: 100px;
  height: 36px;
}
.content .contBotten .leftImg {
  width: 460px;
  height: 260px;
}
.content .contBotten .leftImg img {
  width: 100%;
  height: 100%;
}
.content .contBotten .contLeft .contBtn {
  margin-top: 26px;
  margin-bottom: 40px;
}
.content .contBotten .contRight {
  margin-left: 80px;
}
.content .contBotten .contRight .leftText {
  margin: 32px 0;
}
.twoCont {
  margin-top: 70px;
  font-size: 20px;
  font-weight: bolder;
}
.twoCont .twobot ul {
  overflow: hidden;
  margin-top: 40px;
}
.twoCont .twobot ul li {
  float: left;
}
.twoCont .twoBtn {
  margin-top: 40px;
}
.twoCont .twoBtn a {
  width: 160px;
  height: 35px;
  background: #0769ce;
  color: #fff;
  line-height: 35px;
  font-weight: normal;
}
.thirdCont .thirdBot {
  margin-top: 140px;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}
.thirdCont .thirdBot .botLeft .thirdTit {
  font-size: 20px;
  color: #0768ce;
  font-weight: bolder;
  margin-top: 70px;
}
.thirdCont .thirdBot .botLeft p {
  line-height: 35px;
}
.thirdCont .thirdBot .botRight {
  width: 300px;
  height: 340px;
  overflow: hidden;
  margin-right: 140px;
}
.thirdCont .thirdBot .botRight img {
  width: 100%;
  height: 100%;
}
.inTit .titTop {
  font-size: 26px;
  font-weight: bolder;
}
.inTit .titMiddle {
  font-size: 20px;
  font-weight: bold;
  margin-top: 60px;
}
.inTit .titBottom {
  font-size: 12px;
  margin-top: 20px;
}
.indCont ul {
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  margin-top: 50px;
}
.indCont ul li {
  width: 270px;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}
.indCont ul li .line {
  margin-top: 5px;
}
.indCont ul li a .indust_topTit {
  font-size: 14px;
  color: #333;
  margin-bottom: 20px;
}
.indCont ul li a .indust_bottomTit span {
  font-size: 14px;
  color: #8a9199;
}
.indCont ul li a .indust_bottomTit span img {
  vertical-align: middle;
  margin-right: 10px;
}
.railCont .railImg {
  margin-top: 60px;
}
.railCont .railProc p {
  margin-top: 80px;
}
.railCont .railProc img {
  margin-top: 45px;
}
.railCont .railCase {
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
}
.railCont .railCase li {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  width: 270px;
  height: 60px;
  line-height: 60px;
}
.railCont .railCase li a {
  margin-left: 30px;
}
.railCont .railCase li a span {
  font-size: 16px;
  color: #8a9199;
}
.railCont .railCase li .line {
  height: 60px;
}
.usaTit {
  font-size: 16px;
}
.usaTit span {
  color: #8b8f9a;
}
.usaCont {
  margin-top: 45px;
}
.usaCont ul {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.margerTxt {
  font-size: 14px;
  color: #8a9199;
  font-weight: bold;
  line-height: 26px;
}
.mangCont .mangerTop {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #8a9199;
  font-weight: bold;
  line-height: 26px;
  margin-top: 45px;
}
.mangCont .mangerTop .topTxt {
  width: 660px;
}
.mangCont .mangerTop .topTxt p {
  text-indent: 2em;
}
.mangCont .mangerTop .topMob img {
  margin-top: 20px;
  margin-left: 50px;
}
.mangCont .quer {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  margin-top: 68px;
}
.mangCont .quer .querLeft {
  width: 420px;
}
.mangCont .quer .querLeft .querImg {
  margin-left: -30px;
  margin-top: 60px;
}
.mangCont .quer .querLeft .querTxt {
  font-size: 14px;
  color: #8a9199;
  font-weight: bold;
  line-height: 26px;
  margin-top: 30px;
  text-indent: 2em;
}
.mangCont .check {
  width: 655px;
}
.mangCont .check .checkTit {
  margin-top: 60px;
}
.mangCont .check .checkTxt {
  font-size: 14px;
  color: #8a9199;
  font-weight: bold;
  line-height: 26px;
  text-indent: 2em;
  margin-top: 25px;
}
.mangCont .indBot {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.mangCont .indBot li p {
  margin-top: 25px;
}
.pillow {
  margin-top: 45px;
}
.pillow .pilTxt {
  font-size: 14px;
  color: #8a9199;
  font-weight: bold;
  line-height: 26px;
}
.pillow .pilNum {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  margin-top: 65px;
}
.pillow .pilNum li {
  margin: 0 20px;
}
.pillow .pilNum li p {
  margin-bottom: 20px;
  font-size: 14px;
  color: #8a9199;
  font-weight: bold;
}
.pillow .pilSelect {
  margin-top: 60px;
}
.pillow .pilSelect .selectTit {
  font-size: 14px;
  color: #8a9199;
  font-weight: bold;
  line-height: 26px;
}
.pillow .pilSelect .pilSelBox {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.pillow .pilSelect .pilSelBox li {
  height: 327px;
  line-height: 327px;
}
.pillow .pilSelect .pilSelBox li img {
  vertical-align: middle;
}
.chengdu {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}
.chengdu li {
  font-size: 14px;
  color: #8a9199;
  font-weight: bold;
  line-height: 26px;
}
.chengdu li p {
  text-indent: 2em;
}
.djCont p {
  margin-top: 45px;
}
.djCont div {
  margin-top: 35px;
}
.control .contTxt {
  font-size: 14px;
  color: #8a9199;
  font-weight: bold;
  line-height: 26px;
  margin-top: 45px;
}
.control .contTit {
  margin-top: 60px;
}
.hclj .hcljTxt {
  margin-top: 45px;
}
.hclj .hcljTxt p {
  font-size: 14px;
  color: #8a9199;
  font-weight: bold;
  line-height: 26px;
}
.hclj .hcljTit {
  margin-top: 60px;
}
.aboutCont .aboutTit {
  font-size: 26px;
  font-weight: bolder;
}
.aboutCont .aboutTop {
  margin-top: 45px;
}
.aboutCont .aboutTop ul {
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  margin: 10px auto;
}
.aboutCont .aboutTop ul li {
  width: 200px;
  margin-left: 120px;
  font-size: 16px;
}
.aboutCont .aboutTop ul li img {
  vertical-align: middle;
  margin-right: 20px;
}
.aboutCont .aboutMidd {
  margin-top: 70px;
}
.aboutCont .aboutMidd li {
  font-size: 16px;
  color: #8a9199;
  margin-top: 20px;
}
.aboutCont .aboutMidd li img {
  margin-right: 15px;
  vertical-align: middle;
}
.aboutCont .aboutBot {
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  width: 954px;
  margin: 40px auto;
}
.aboutCont .aboutBot li {
  width: 278px;
  margin-left: 40px;
}
